DATABASE_URL=postgresql...
JWT_ACCESS_SECRET=chave_secreta
JWT_REFRESH_SECRET=outra_chave_secreta
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
RESEND_API_KEY=re_
APP_URL=http://localhost:3000
PORT=3000